<footer class="footer">
    <div class="columns">
    <div class="first_column">
        <div class="title">
            Assine nossa newsletter
        </div>
        <div class="text">
            Receba conteúdos exclusivos sobre imóveis de 
            alto padrão, arte, decoração, cultura e 
            tendências.
        </div>
        <div class="entry">
            <div class="nome">
         <div class="text_nome">Nome completo</div>
            <input type="text" class="input_nome" placeholder="Digite seu nome" />
        </div>
        <div class="email">
            <div class="text_email">Email</div>
            <input type="email" class="input_email" placeholder="Digite seu email" />
        </div>
            <button class="botao">Assinar newsletter</button>
          </div> 
          <div class="row">
            <div class="first_text">
                Política de privacidade
            </div>
            <div class="second_text">
                Termo de responsabilidade
            </div>
        </div> 
      </div>    

    <div class="second_column">
        <div class="first_side">
            <div class="text">
                Nossos serviços
            </div>
            <ul class="services">
                <p>Financiamento</p>
                <p>Imóveis para locação</p>
                <p>Imóveis para compra</p>
                <p>Seu imóvel na VERTICE Lux Realty</p>
            </ul>
            <div class="image">
                <img src="assets/images/social_networks.png" alt="Social">
            </div> 
        </div>
        <div class="second_side">
            <div class="text">
                Nossos endereços
            </div>
            <ul class="address">
                <h3>Boa Viagem-CE</h3>
                <p>Rua Padre Antonio de Sá, Vila Azul</p>
                <h3>Canindé-CE</h3>
                <p>Rua Sitônio Monteiro, 664-742, Centro</p>
                <h3>Fortaleza-CE</h3>
                <p>Avenida Imperador, 750-900, Centro</p>
            </ul>
        </div>
    </div>
    </div>
    <div class="autoral">
        <p>
        2025 © VERTICE Lux Realty | Imóveis de alto padrão
        </p>
    </div>
</footer>