<app-nav-bar></app-nav-bar>
<div class="login">
    <div class="text">
        <h2>Login do cliente</h2>
    </div>
    <div class="column_entries">
        <div class="email">
            <div class="text_email">Email</div>
            <input type="text" class="input_email" placeholder="Digite seu email" [(ngModel)]="email" />
        </div>
        <div class="password">
            <div class="text_password">Senha</div>
            <input type="password" class="input_password" placeholder="Digite sua senha" [(ngModel)]="password" />
        </div>
        <div class="button">
            <button class="botao"(click)="login()">Entrar</button>
        </div>
        <div class="forget">
            <a (click)="GoToReset()">Esqueci minha senha</a>
        </div>
        <div class="text">
            Não possui conta? <a (click)="GoToRegister()" class="register">Cadastre-se</a>
        </div>        
    </div>
</div>