<app-nav-bar></app-nav-bar>

<div class="about"> 
    <img src="/assets/images/alto-padrao.png" alt="Imagem" class="imagem"> 
   <div class="texto">
     <h2 class="titulo">VERTICE Lux Realthy/ Imóveis de alto padrão</h2>
     <h3 class="subtitulo">Um site que nasceu no quarto maior mercado deste ramo no país </h3>
     <p class="descricao">
        Nosso sistema tem sido referência em eficácia e excelência no mercado
        de imóveis de alto padrão. Nosso compromisso é oferecer propriedades 
        que combinam design, localização e inovação, atendendo as expectativas 
        de clientes mais simplórios até os mais exigentes. O sistema surgiu como
        forma de inovar em meio à crescente necessidade de meios digitais para 
        informação e comunicação e na forte competitividade no Ceará, sendo que 
        a sua capital saltou do décimo sexto lugar neste ramo para o quarto em 2024,
        ficando atrás somente de São Paulo, Goiânia e Florianopólis e há previsão 
        de expansão nos anos vindouros (Fonte : Diário do Nordeste).
     </p>
   </div>
</div>
<app-footer></app-footer>