<nav class="navbar">
  <div class="navbar__logo">
    <img src="assets/images/Logo-Construtora.png" alt="Logo">
  </div>

  <ul class="navbar__links">
    <li><a routerLink="/home" routerLinkActive="active">INÍCIO</a></li>
    <li><a routerLink="/about" routerLinkActive="active">SOBRE</a></li>
   <!-- <li><a routerLink="/locacoes" routerLinkActive="active">LOCAÇÕES</a></li>
    <li><a routerLink="/comprar" routerLinkActive="active">COMPRAR</a></li> -->

    <li class="navbar__dropdown">
      <button class="navbar__button" (click)="toggleDropdown($event)">LOGIN</button>
      <div class="dropdown__menu" *ngIf="showDropdown">
        <a routerLink="/login-admin">Administrador</a>
        <a routerLink="/login">Cliente</a>
      </div>
    </li>
  </ul>
</nav>