<nav class="navbar">
  <div class="navbar__logo">
    <img src="assets/images/Logo-Construtora.png" alt="Logo">
  </div>

  <ul class="navbar__links">
    <li><a routerLink="/" routerLinkActive="active">INÍCIO</a></li>
    <li><a routerLink="/" routerLinkActive="active">SOBRE</a></li>
    <li><a routerLink="/" routerLinkActive="active">LOCAÇÕES</a></li>
    <li><a routerLink="/" routerLinkActive="active">COMPRAR</a></li>
    <li><a routerLink="/" routerLinkActive="active" class="navbar__button">LOGIN</a></li>
  </ul>
</nav>