<nav class="navbar">
  <div class="navbar__logo">
    <img src="assets/logo.png" alt="Logo">
    <span>MinhaApp</span>
  </div>

  <ul class="navbar__links">
    <li><a routerLink="/" routerLinkActive="active">inicio</a></li>
    <li><a routerLink="/" routerLinkActive="active">Sobre</a></li>
    <li><a routerLink="/" routerLinkActive="active">locações</a></li>
    <li><a routerLink="/" routerLinkActive="active">comprar</a></li>
    <li><a routerLink="/" routerLinkActive="active">cidades</a></li>
    <li><a routerLink="/" routerLinkActive="active">cadastre-se</a></li>
    <li><a routerLink="/" routerLinkActive="active">entrar</a></li>
  </ul>
</nav>