<app-navbar-user></app-navbar-user>

 <div class="text">
            <h1>
                Detalhes do imóvel de código {{ property.id }}
            </h1>
        </div>
<div class="property-container"> 
    <div class="image">
        <img [src]="property.imageUrl" alt="Imagem do imóvel" />
        </div>
    <div class="property-details" *ngIf="property">

        <div class="informations">
        <span class="category"> {{ property.type }}</span>
    
        <h3 class="title">{{ property.title }}</h3>
    
        <p class="info">
            {{ property.area }} m² &nbsp; | &nbsp;
            {{ property.bedrooms }} Quartos. &nbsp; | &nbsp;
            {{ property.suites }} Suíte(s) &nbsp; | &nbsp;
            {{ property.parking }} Vagas
        </p>

        <div class="description">
            <h3>
                {{ property.description }}
            </h3>
        </div>
    
        <div class="images">
        <a [href]="'mailto:' + email">
            <img src="assets/images/email.png" alt="email"/>
        </a>
        
        <a [href]="'https://wa.me/' + whatsappNumber" target="_blank">
            <img src="assets/images/whatsapp.png" alt="whatsapp"/>
        </a>
        </div>
    
        <div class="details">
            <h2 class="functionality"> Disponível para {{ property.functionality }}</h2>
        <h2 class="price">R$ {{ property.price | number:'1.0-0' }}</h2>
        </div>
        </div>
    </div>

    <div *ngIf="!property">
        <p>Imóvel não encontrado.</p>
    </div>
</div>

  <div class="gallery">
        <h4>Aprecie o interior do imóvel</h4>
        <div class="gallery-container">
            <img *ngFor="let image of property.images" [src]="image" alt="Foto do imóvel" class="gallery-image" />
        </div>
    </div>
<div class="margin"></div>

<app-footer></app-footer>