@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");

.text {
    color: black;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.property-container {
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    gap: 5px;
}

.property-container .image {
    height: auto;
    border-radius: 10px;
}

.property-container .image img {
    width: 700px;
}

.property-container .property-details {
    flex: 1;
    max-width: 540px;
    max-height: 560px;
    margin-left: 40px;
    min-width: 300px;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

.property-container .property-details .informations {
    display: flex;
    flex-direction: column;
    height: auto;
}

.property-container .property-details .informations .category {
    color: #1e3a8a;
    font-size: 30px;
    font-weight: bold;
}


.property-container .property-details .informations .title {
   float: right;
   font-size: 25px;
   color: rgb(7, 7, 7);
}

 
.property-container .property-details .informations .description {
   font-size: 15px;
   color : rgb(43, 42, 42);
   font-weight: medium;
   margin: 5px 0;
} 


.property-container .property-details .informations .info {
   flex-direction: row;
   font-size: 20px;
   color: rgb(7, 7, 7);
}

.images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden; 
  gap: 20px;
}

.images img {
    max-width: 60px;
    max-height: 60px;
    object-fit: cover;
    object-position: center;
}

.details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  overflow: hidden; 
  margin-top: 20px;
}

.details .functionality {
  font-size: 22px;
  font-weight: bold;
  color: black;
  flex: wrap;
}
.details .price {
    font-size: 22px;
    font-weight: bold;
    color: #1e40af;
  }

.margin {
    margin-top: 40px;
}