<app-nav-bar></app-nav-bar>

<div class="exclusive">
    <div class="image">
        <img src="assets/images/exclusive.png" alt="image">
    </div>
    <div class="text">
        <div class="title">Exclusividades</div>
        <div class="introduction">
            Que você só encontra na VERTICE Lux Realthy
        </div>
    </div>

</div>
<app-property-card [imageUrl]="'assets/images/parceiro1.png'" [isNew]="false" [title]="'Pinheiros'" [area]="253" [bedrooms]="4" [suites]="1" [parking]="3" [price]="4200000" [propertyCode]="96216"></app-property-card>


<div class="margin"></div>
<app-footer></app-footer>