<app-nav-bar></app-nav-bar>
<div class="reset-admin">
    <div class="text">
        <h2>Recupere sua senha</h2>
    </div>
    <div class="column_entries">
        <div class="email">
            <div class="text_email">Email</div>
            <input type="text" class="input_email" placeholder="Digite seu email" />
        </div>
        <div class="password">
            <div class="text_password">Nova senha</div>
            <input type="password" class="input_password" placeholder="Digite sua senha" />
        </div>
        <div class="passwordConfirm">
            <div class="text_confirm_password">Confirmar nova senha</div>
            <input type="password" class="input_confirm_password" placeholder="Confirme sua senha" />
        </div>
        <div class="button">
            <button class="botao">Redefinir</button>
        </div>       
    </div>
</div>