<app-nav-bar></app-nav-bar>
<div class="apresentacao">
  <div>
    <h1>DESCUBRA O <br />IMÓVEL MAIS <br />ADEQUADO</h1>
    <!-- <div class="search-bar">
       <div class="input-group">
        <input type="text" id="cep" placeholder="Digite o CEP da sua Cidade..." />
        <button>
          <i class="fas fa-search"></i>
        </button>
      </div> 
    </div> -->
  </div>
</div>

<div class="cards-container">
  <div class="card destaque">
    <h3>Destaques</h3>
  </div>
  <div class="card novidade">
    <h3>Novidades</h3>
  </div>
  <div class="card exclusividade">
    <h3>Exclusividade</h3>
  </div>
</div>

<section class="informacao">
  <div class="texto">
    <h2 class="titulo">PROPRIEDADES EXCEPCIONAIS PARA LOCAÇÃO E COMPRA</h2>
    <h3 class="subtitulo">Encontre propriedades que representam seu estilo de vida</h3>
    <p class="descricao">As necessidades e desejos são singulares na busca por um
      imóvel que se adapte às suas necessidades. É por isso que
      oferecemos um atendimento centrado em você, com
      especialistas em cada área prontos para oferecer suporte
      especializado em todas as etapas do processo.</p>
    <button class="buscar-imovel" (click)="GoToLogin()">Buscar imóvel</button>
  </div>
  <div>
    <app-carrosel-images></app-carrosel-images>
  </div>
</section>
<section class="parcerias">
  <div class="parceiro"><img src="/assets/images/parceiro1.png" alt="parceiro1"></div>
  <div class="parceiro"><img src="/assets/images/parceiro2.png" alt="parceiro1"></div>
  <div class="parceiro"><img src="/assets/images/parceiro4.png" alt="parceiro1"></div>
  <div class="parceiro"><img src="/assets/images/parceiro5.png" alt="parceiro1"></div>
  <div class="parceiro"><img src="/assets/images/parceiro6.png" alt="parceiro1"></div>
  <div class="parceiro"><img src="/assets/images/parceiro7.png" alt="parceiro1"></div>
</section>
<section class="segunda-informacao">
  <img src="/assets/images/city.png" alt="Imagem" class="imagem">
  <div class="texto">
    <h2 class="titulo">DESTAQUE EM UM MERCADO AMPLO NA TERRA DA LUZ</h2>
    <h3 class="subtitulo">Procure imóveis na terra da luz e maior mercado deste ramo no Nordeste </h3>
    <p class="descricao">Na busca pelo imóvel perfeito, entendemos que cada cliente tem expectativas únicas.
      Por isso, oferecemos um atendimento exclusivo, especializado na venda de imóveis de alto padrão.
      Nossa equipe de especialistas está pronta para guiá-lo em cada etapa do processo, garantindo
      sofisticação, qualidade e excelência em cada escolha.</p>
    <button class="buscar-imovel" (click)="GoToLogin()">Buscar imóvel</button>

  </div>
</section>

<div class="text-carrosel">NOSSAS OFERTAS EM DIVERSAS CIDADES</div>

<div>
  <app-carousel></app-carousel>
</div>

<div class="margin">
  <app-footer></app-footer>
</div>