.apresentacao {
  padding: 30px;
  display: flex;
  background-image: url("/assets/images/image1.png");
  div {
    flex: 1;
    position: relative;
    h1 {
      padding: 10px;
      margin-left: 3rem;
      font-size: 80px;
      word-break: keep-all;
      color: #ffffff;
    }
    h1::before {
      position: absolute;
      content: " ";
      top: 15px;
      width: 100px;
      height: 6px;
      background-color: blue;
    }
  }
}
