<nav class="navbar-admin">
    <div class="navbar-admin__logo">
      <img src="assets/images/Logo-Construtora.png" alt="Logo">
    </div>
  
    <ul class="navbar-admin__links">
      <li><a routerLink="/register_property" routerLinkActive="active">CADASTRAR IMÓVEL</a></li>
      <li><a routerLink="/edit_property" routerLinkActive="active">EDITAR IMÓVEL</a></li>
      <li><a routerLink="/remove_property" routerLinkActive="active">REMOVER IMÓVEL</a></li>
      <li><a routerLink="/home" routerLinkActive="active" class="navbar-admin__button">SAIR</a></li>
    </ul>
  </nav>