@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");

.register {
  background-size: cover;
  background-position: center;
  align-items: center;
  max-height: 100vh;
  font-family: Arial, sans-serif;
}

.register .text {
  padding-top: 50px;
  text-align: center;
  color: black;
  font-size: 25px;
  font-weight: 800;
}

.register .column_entries {
  padding: 0rem 30% 0rem 30%;
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
}

.register .column_entries .name,
.register .column_entries .telephone,
.register .column_entries .email,
.register .column_entries .password,
.register .column_entries .passwordConfirm {
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
}

input {
  margin-bottom: 10px;
  padding: 1rem;
  font-size: 20px;
  border-radius: 6px;
  border: 0.1px solid black;
  margin-top: 10px;
  width: 100%;
  box-sizing: border-box;
}

.register .column_entries .button {
  margin-top: 40px;
  justify-content: center;
  align-items: center;
}

.register .column_entries .button button {
  width: 100%;
  padding: 1rem 1.5rem;
  font-size: 20px;
  font-weight: bold;
  background-color: #1e3a8a;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: flex-start;
}

.register .column_entries .button button:hover {
  background-color: #93c5fd;
  color: white;
}

.register .column_entries .text {
  margin-top: 0px;
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  color: black;
}

.register .column_entries .register {
  font-size: 20px;
  font-weight: 600;
  color: #1e3a8a;
}

@media (max-width: 768px) {
  .register {
    padding: center;
  }

  .register .column_entries {
    max-width: 90%;
  }

  .register .column_entries .name input,
  .register .column_entries .telephone input,
  .register .column_entries .email input,
  .register .column_entries .password input,
  .register
    .column_entries
    .passwordConfirm
    input
    .register
    .column_entries
    .button
    button {
    max-width: 90%;
  }

  .register .column_entries .text {
    font-size: 16px;
    padding-right: 60%;
  }
}