<app-navbar-admin></app-navbar-admin>


<div class="remove-property">
    <div class="text">
        <h2>Remoção de imóvel</h2>
    </div> 
    
    <div class="first-box">
            <div class="text">Informe o identificador do imóvel</div>
            <div class="row_id">
                <input type="text" class="input_id" placeholder="" />
                <div class="button">
                    <button class="botao">Procurar imóvel</button>
                </div>
            </div>
     </div>
</div>