<div class="property-card" (click)="navigateToDetails()">
  <div class="property-card__image">
    <img [src]="imageUrl" alt="Imagem do imóvel" />
    <span class="property-card__badge" *ngIf="isNew">NOVIDADE</span>
    <button class="property-card__favorite" (click)="toggleFavorite()">
      ♥
    </button>
  </div>

  <div class="property-card__details">
    <span class="property-card__category"> {{ type }}</span>
    <span class="property-card__code">cód. {{ propertyCode }}</span>

    <h3 class="property-card__title">{{ title }}</h3>

    <p class="property-card__info">
      {{ area }} m² &nbsp; | &nbsp;
      {{ bedrooms }} Quartos. &nbsp; | &nbsp;
      {{ suites }} Suíte(s) &nbsp; | &nbsp;
      {{ parking }} Vagas
    </p>

  <div class="images">
    <a [href]="'mailto:' + email">
      <img src="assets/images/email.png" alt="email"/>
    </a>
  
    <a [href]="'https://wa.me/' + whatsappNumber" target="_blank">
      <img src="assets/images/whatsapp.png" alt="whatsapp"/>
    </a>
  </div>

    <div class="details">
      <h2 class="functionality"> {{ functionality }}</h2>
     <h2 class="price">R$ {{ price | number:'1.0-0' }}</h2>
    </div>
  </div>
</div>